<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./layouts/head'); %>
</head>

<body>

    <header class="bg-white">
        <%- include('./layouts/header'); %>
    </header>

    <!-- Seccion tarjetas para publicaciones -->

    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
        <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
    
            <% if (Array.isArray(posts) && posts.length > 0) { %>
                <% posts.forEach(post => { %>

                    <div class="overflow-hidden transition-shadow duration-300 bg-white rounded shadow-sm">
                        <img src="<%= post.image %>" class="object-cover w-full h-64" alt="" />
                        <div class="p-5 border border-t-0">
                            <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
                                <span class="text-gray-600"><%= post.createdAt.toDateString() %></span>
                            </p>
                            <a href="/" aria-label="Category" title="<%= post.title %>"
                                class="inline-block mb-3 text-2xl font-bold leading-5 transition-colors duration-200 hover:text-deep-purple-accent-700"><%= post.title %></a>
                            <p class="mb-2 text-gray-700">
                                <%= post.content %>
                            </p>
                            <a href="/" aria-label=""
                                class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn
                                more</a>
                        </div>
                    </div>

                <% }); %>
            <% } else { %>
                <div class="col-span-3">
                    <p>No posts found.</p>
                </div>
            <% } %>
    
        </div>
    </div>

    <!-- Termina seccion tarjetas de publicaciones -->

    <main>
        <section class="bg-gray-900 text-white">
            <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
                <div class="mx-auto max-w-3xl text-center">
                    <h1
                        class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl">
                        Understand User Flow.

                        <span class="sm:block"> Increase Conversion. </span>
                    </h1>

                    <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo tenetur fuga ducimus
                        numquam ea!
                    </p>

                    <div class="mt-8 flex flex-wrap justify-center gap-4">

                        <a class="block w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
                            href="#">
                            Encuestas
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <%- include('./layouts/footer'); %>
    </footer>
</body>

</html>